.comment-container {
  margin-top: 30px;
  .ant-input-group.ant-input-group-compact {
    display: flex !important;
  }
  .ant-comment {
    padding: 10px;
    .ant-comment-actions {
      width: 100%;
      padding: 10px 10px 0 0;
      display: flex;
      justify-content: flex-end;
      li {
        width: 100%;
      }
    }
    .icon {
      width: 14px;
      height: 14px;
    }
    .likes {
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: 14px;
      color: #8a93a0;
    }

    .reply-btn {
      cursor: pointer;
      margin-left: 30px;
      color: #8a93a0;
    }
    // .reply-btn:hover,
    // .likes:hover {
    //   cursor: pointer;
    //   color: #4f92ff;
    // }
  }
  .input-group {
    padding-left: 34px;
    display: flex;
    flex-wrap: wrap;
    .input-item {
      flex-grow: 1;
    }
  }
}
